<h1>Students Directory</h1>

<% @students.each do |student| %>
    <p>
        Name:
        <%= student.name %> 
        <strong><%= student.occupation %></strong> <br>

        Email:
        <%= student.email %> <br>

        <%= link_to "VIEW PROFILE", student %>
    </p>

<% end %>

<%= link_to "New student", new_student_path %>
<%= link_to "Courses", courses_path %>