<h1><%= @course.title %></h1>
<h2><%= @course.room_number %></h2>
<h4><%= @course.description %></h2>

<% @course.students.each do |student| %>
    <%= student %>
<% end %>

<ul>
    <li>
        <%= link_to "Edit course", edit_course_path %>
    </li>
    <li>
        <%= link_to "Destroy", course_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
</p>

<%= link_to "Back to listing page", courses_path %>